$font-family: Roboto, sans-serif;
$bg-color: #f5f6fa;
$header-bg: #182C61;
$container-width: 1024px;
$menu-margin: 24px;
$section-padding: 56px;
$button-bg: #44bd32;
$button-hover-bg: #4cd137;

$mobile: 767px;
$tablet: 1023px;